.chatList {
  margin-top: 1vh;
  margin-bottom: 1vh;
  box-sizing: border-box;
  height: calc(55vh);
  overflow-y: hidden;
  overflow-x: hidden;
}

.scenario-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}
.scenario-message {
  color: white;
  width: 80%;
  margin: 2px;
  padding: 1em;
  font-size: smaller;
  font-weight: bold;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-height: 20vh;
  margin: 20px;
}

.join-card {
  margin: 15px;
}
